/*######################
    Hero Section
######################*/

.hero {
    background-color: var(--main-bg-color);
    width: 100%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0.5rem;
    gap: 0.8rem;
	min-width: 20rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.hero__heading {
    font-size: 1.75rem;
    line-height: 1.2;
    color: var(--main-heading-color);
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    max-width: 20rem;
}

.hero__search {
    width: 100%;
    margin-bottom: 0.5rem;
}

.search-input-container {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--main-bg-color);
    border: 0.0625rem solid #e0e0e0;
    border-radius: 2.1875rem;
    overflow: hidden;
}
.search-input-container__icon {
    position: absolute;
    left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0.5;
}

.search-input-container__input {
    flex: 1;
    border: none;
    padding: 1.25rem 3.9rem 1.25rem 1.7rem;
    font-size: 0.75rem;
    outline: none;
    background-color: transparent;
}

.search-input-container__input::placeholder {
    color: #999999;
}

.search-input-container__btn {
    position: absolute;
    right: 0.5rem;
    background-color: var(--bg-color);
    border: none;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}

.search-input__btn img {
    width: 1.2rem;
    height: 1.2rem;
}

.hero__illustration {
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.hero__illustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/*######################
    Desktop (64rem+)
######################*/

@media (min-width: 64rem) {
    .hero-container {
        flex-direction: row;
        padding: 4rem 3rem;
        gap: 3rem;
        align-items: center;
    }

    .hero__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .hero__heading {
        font-size: 3.125rem;
        max-width: 37.5rem;
    }

    .search-input {
        max-width: 34.375rem;
    }

    .hero__illustration {
        flex: 1;
        max-height: 35rem;
    }
}
