:root {
    --navbar-bg : #222222;
	--main-heading-color: #222222;
    --bg-color  : #B2D235;
    --main-font : Montserrat;
    --text-color: #ffffff;
    --nav-link-spacing: 2rem;
    --btn-text : #FFFFFF;
	--main-bg-color: #FFFFFF;
    
}

